{% extends "base.html" %}
{% block content %}

	<p class="title">{{page_title}}</p>

	<span class="error">{{error}}</span>

	<form action="#" method = "post">
		<table class="form-table">
			<tr>
				<td>Name:</td>
				<td>
					<input type="text" maxlength="100" name="item_title" value="{{item_title|safe}}" placeholder="Enter item name">
				</td>
			</tr>
			<tr>
				<td>Description:</td>
				<td>
					<textarea name="item_description" placeholder="Enter item description" rows="4" cols="40">{{item_description|safe}}</textarea>
				</td>
			</tr>
			<tr>
				<td>Category:</td>
				<td>
					{% if categories %}
						<select name="category_id">
							<option value="-1">Select a category</option>
							{% for category in categories %}
								{% if category_id == category.id %}
									<option value="{{category.id}}" SELECTED>
								{% else %}
									<option value="{{category.id}}">
								{% endif %}
								{{category.name}}</option>
							{% endfor %}
						</select>
					{% else %}
						{{category.name}}
						<input type="hidden" name="category_id" value={{category.id}}>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					<input type="submit" value="Submit">
					<input type="button" value="Cancel" onClick="window.location='{{url_for('listCatalogsAndLatestItems')}}';">
				</td>
			</tr>
		</table>
	</form>
	
{% endblock %}

{% block backbutton %}
{% endblock %}