{% extends "base.html" %}
{% block content %}

	<p class="title">{{page_title}}</p>
	
	<h3> Are you sure you want to delete '{{category}}' category? </h3>

	<form action="#" method = "post">
		<table class="form-table">
			<tr>
				<td colspan="2">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					<input type="submit" value="Submit">
					<input type="button" value="Cancel" onClick="window.location='{{url_for('listCatalogsAndLatestItems')}}';">
				<td>
			</tr>
		</table>
	</form>

{% endblock %}

{% block backbutton %}
{% endblock %}