{% extends "base.html" %}
{% block content %}

	<p class="title">{{title}}</p>

	<span class="error">{{error}}</span>

	<form action="#" method = "post">
		<table class="form-table">
			<tr>
				<td>Name:</td>
				<td><input type="text" class="form-control" maxlength="100" name="item_title" value="{{item_title|safe}}">
			</tr>
			<tr>
				<td>Description:</td>
				<td>
					<textarea name="item_description" rows="4" cols="40">{{item_description|safe}}</textarea>
				</td>
			</tr>
			<tr>
				<td>Category:</td>
				<td>
					<select name="category_id">
						{% for category in categories %}
							{% if category_id == category.id %}
								<option value="{{category.id}}" SELECTED>
							{% else %}
								<option value="{{category.id}}">
							{% endif %}
							{{category.name}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="hidden" name="item_id" value="{{item_id}}">
					<input type="submit" value="Submit">
					<input type="button" value="Cancel" onClick="window.location='{{url_for('listCatalogsAndLatestItems')}}';">
				</td>
			</tr>
		</table>
	</form>

{% endblock %}

{% block backbutton %}
{% endblock %}