{% extends "base.html" %}
{% block content %}

	{% with messages = get_flashed_messages() %}
      		{% if messages %}
				<div class="alert alert-warning alert-dismissible" role="alert">
			  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  			<span aria-hidden="true">&times;</span>
			  		</button>
			  		
					<ul>
					{% for message in messages %}
			    		<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
					</ul>	
				</div>
		{% endif %}
    {% endwith %}


	<div class="table-responsive no-border">
		<table class="table">
			<tbody>
				<tr>
					<td class="left-cell no-border">
						<div class="list-group category-list-group">
							<table>
								<tr>
									<td class="title"><a href='{{url_for('listCatalogsAndLatestItems')}}'>Categories</a></td>
									<td class="right-icon-cell">
										{% if 'username' in session %}
											<a href="{{url_for('addCategory')}}">
												<span class="fa-stack fa-sm	">
													<i class="fa fa-circle fa-stack-2x"></i>
													<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										{% endif %}
									</td>
								</tr>
							</table>
							{% for category in categories %}
								{% if selected_category and selected_category.name == category.name %}
									<a href = '{{url_for('viewCategory', category=category.name)}}' 
										class="list-group-item no-border active">
										{{category.name}}
									</a>
								{% else %}
									<a href = '{{url_for('viewCategory', category=category.name)}}' 
										class="list-group-item no-border">	
										{{category.name}}
									</a>
								{% endif %}

								<!-- Edit/Delete category icons -->
								{% if 'user_id' in session and category.user_id == session['user_id'] %}
									<div class="spacer"></div>
									<a class="btn btn-primary btn-sm" 
										href="{{url_for('editCategory', category=category.name)}}">
										<i class="fa fa-pencil"></i>&nbsp;Edit
									</a>
									<a class="btn btn-danger btn-sm" 
										href="{{url_for('deleteCategory', category=category.name)}}">
										<i class="fa fa-trash"></i>&nbsp;Delete
									</a>
									<div class="spacer"></div>
							{% endif %}

							{% endfor %}
						</div>
					</td>
					<td class="right-cell no-border">
						<div class="list-group">
							<table>
								<tr>
									<td class="title">{{item_title}}</td>
									<td class="right-icon-cell">
										{% if 'username' in session %}
											{% if selected_category %}
												<a href="{{url_for('addItemToCategory', category=selected_category.name)}}">
											{% else %}
												<a href="{{url_for('addItem')}}">
											{% endif %}
													<span class="fa-stack fa-sm	">
														<i class="fa fa-circle fa-stack-2x"></i>
														<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
													</span>
												</a>
										{% endif %}
									</td>
								</tr>
							</table>
							{% for item in items %}
								{% for category in categories %}
									{% if category.id == item.category_id %}
										<a href = "{{url_for('viewItem', category=category.name, item=item.title)}}" 
											class="list-group-item no-border ">
											{{item.title}} <i>({{category.name}})</i>
										</a>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock %}

{% block backbutton %}
{% endblock %}