{% extends "base.html" %}
{% block content %}
	<table class="form-table">
		<tr>
			<td>Name:</td>
			<td>{{itemToUse.title}}</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td>{{itemToUse.description}}</td>
		</tr>
		<tr>
			<td>Category:</td>
			<td>{{category}}</td>
		</tr>
		<tr>
			<td colspan="2">
				<a class="btn btn-primary btn-sm" 
					href="{{url_for('listCatalogsAndLatestItems')}}" alt="Home">
					<i class="fa fa-home"></i>&nbsp;Home
				</a>
				{% if 'username' in session %}
					{% if itemToUse.user_id == session['user_id'] %}
						<a class="btn btn-primary btn-sm" 
							href="{{url_for('editItem', category=category, item=item)}}" alt="Edit">
							<i class="fa fa-pencil"></i>&nbsp;Edit
						</a>
						<a class="btn btn-danger btn-sm" 
							href="{{url_for('deleteItem', category=category, item=item)}}" alt="Delete">
							<i class="fa fa-trash"></i>&nbsp;Delete
						</a>
					{% endif %}
				{% endif %}
			</td>
		</tr>
	</table>
{% endblock %}

{% block backbutton %}
{% endblock %}